{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
        </div>
    {% endif %}
    <wa-card style="max-width: 45ch; margin: 0 auto">
        <div class="wa-stack">
            <h2 class="wa-heading-l">Login</h2>
            <wa-input label="Username" name="username" type="text"></wa-input>
            <wa-input label="Password" name="password" type="password"></wa-input>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            <wa-button>Sign in</wa-button>
        </div>
    </wa-card>
</form>
{% endblock %}
